*.iml
.gradle
.gradle/
/local.properties
/.idea/
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.*
.cache/
.webdev/

# Agent scripts
*.py
*.sh
pt_nvi.json

# Node
node_modules/
